*{
  font-family: sans-serif;
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background:#eff4fd;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 10;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: -6px;
  left: -30px;
  width: 100%;
}


nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 40px;
}

nav ul li a{
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
  transition: all ease-in-out 250ms;
}

nav ul li a:hover{
  color:#b9b9b9;
}






body {
  background: url(bg.png) no-repeat;
  background-size: 100% auto;
  background-position: center top;
  font-family: 'Century Gothic', sans-serif;
  color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-top: 130px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.project {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.project h2 {
  margin-top: 0;
}

.project p {
  font-size: 0.8em;
}


.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: black;
  padding: 10px 20px;
  border-radius: 15px 0 0 0;
}

.footer a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.2em;
}





